body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
  
  
    

}

nav {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dropinWrapper {

  margin: 0;
  padding: 40px;
  font-family: sans-serif;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column ;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.badge-container .column-badge {
float: left;
text-align: center
}

/* .badge-container .column-right {
  float: right ;
} */

.badge-container img {
  border-radius: 50%;
}

/* .badge {
  width: 120px;
  border-radius: 50%;
  background-color: #f3f3f3;
} */

/* div.card {
  width: 18rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  text-align: center;
} */

section.button-container {
  padding-bottom: 10px;
}

button.btn.btn-lg.btn-primary.btn-block {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input#inputCode.form-control {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div.column-badge {
  padding-bottom: 10px;
  padding-top: 10px;
}

label.file-upload-container {
  padding-top: 10px;
}

/* /History CC =================================*/

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

/* ============================== */

